.venv
venv
/.idea/
/team_c/data-bin/dev
/team_c/data-bin/output
.ipynb_checkpoints/
__pycache__/

auvis_system/model-bin/auto_avsr
auvis_system/model-bin/avsr_cocktail
auvis_system/model-bin/avsr_cocktail_mcorec_finetune
auvis_system/model-bin/face_alignment
auvis_system/model-bin/face_detection

auvis_system/conda-env
auvis_system/data-bin

auvis_system/subtask_5_experiments/ASD_Clustering/data-bin/dev/**/*.mp4
auvis_system/subtask_5_experiments/ASD_Clustering/data-bin/train/**/*.mp4
auvis_system/subtask_5_experiments/ASD_Clustering/data-bin/train/**/ego_crops/
auvis_system/subtask_5_experiments/ASD_Clustering/data-bin/eval/**/*.mp4
